.failure {
  color: red !important;
}

.success {
  color: green !important;
}

.partial {
  color: orange;
}

.undefined {
  color: darkgray;
}

code {
  color: black !important;
}

.test-result.failure {
  background-color: pink;
}

.test-result.success {
  background-color: lightgreen;
}

.test-result.undefined {
  background-color: transparent;
}